

/* IMPORTS */
@font-face {
  font-family: witch-hunt;
  src: url(../../fonts/Witch.ttf);                
  }

@font-face {
  font-family: halloween;
  src: url(../../fonts/HelpMe.ttf);
}



#web-display {
  /* border: 15px solid lightblue; */
  background-image: url(../../Photos/spookyForestTwo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;

}

      #task-header {
        /* border: pink 2px solid; */
        display: flex;
        flex-direction: row;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
      }
            #title-words {
              /* border: 2px solid orange; */
              flex-grow: 10;
            }
                  h1 {
                    font-family: witch-hunt;
                    color: rgb(137, 7, 137);
                    letter-spacing: 4px;
                    font-size: 60px;
                    margin-top: 0px;
                    margin-bottom: -7%;
                    /* border: 2px solid red; */
                  }
                  h5 {
                    font-family: witch-hunt;
                    /* border: 2px solid red; */
                    color: silver;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    margin-left: 30%;
                    font-size: 20px;
                  }
                  /* Irrelevant DIV */
            /* #header-buttons {
              display: flex;
              flex-direction: column;
              flex-grow: 2;
              justify-content: flex-end;
            } */
                  

                    
           
  /* Start of the button bar */
      #button-bar {
        /* border: 2px solid green; */
        display: flex;
        flex-direction: row;
        gap: 3%;
        justify-content: center;
        align-items: flex-start;
        padding: 0.5rem;
        padding-top: 1.5rem;
        max-width: 100%;
      }
            #deleteTasks-btn {
              border: 1px solid rgb(0, 0, 0, 0);
              color: whitesmoke;
              border-radius: 7px;
              background-color: rgb(0, 0, 0, 0);
              height: 2rem;
              margin-top: 5px;
              font-size: 12px;
              flex-basis: 10%;
            }
                  #deleteTasks-btn:hover {
                    color: black;
                    background-image: linear-gradient(rgb(245, 245, 245, 0), rgb(245, 245, 245, 0.8));
                  }

            #resetList-btn {
              border: 1px solid rgb(0, 0, 0, 0);
              color: whitesmoke;
              border-radius: 7px;
              background-color: rgb(0, 0, 0, 0);
              height: 2rem;
              margin-top: 5px;
              font-size: 12px;
              flex-basis: 10%;
            }
                  #resetList-btn:hover {
                    color: black;
                    background-image: linear-gradient(rgb(245, 245, 245, 0), rgb(245, 245, 245, 0.8));
                  }

            #add-task {
              border: 1px solid rgb(0, 0, 0, 0);
              border-radius: 7px;
              background-color: rgb(0, 0, 0, 0);
              color: orangered;
              font-size: 12px;
              height: 2rem;
              margin-top: 5px;
              flex-basis: 15%;
            }
                #add-task:hover {
                  color: whitesmoke;
                  background-image: linear-gradient(rgb(97, 5, 5, 0), orangered);
                }
            
            #sortSelect-style {
              border: rgb(0, 0, 0, 0);
              background-color: rgb(0, 0, 0, 0);
              color: whitesmoke;
              margin-top: 7px;
              height: 1.65rem;
              flex-basis: 10%;
            }

            #sort-btn {
              border: 1px solid rgb(0, 0, 0, 0);
              color: whitesmoke;
              border-radius: 7px;
              background-color: rgb(0, 0, 0, 0);
              height: 2rem;
              margin-top: 5px;
              font-size: 12px;
              flex-basis: 5%;
            }
                #sort-btn:hover {
                  color: black;
                  background-image: linear-gradient(rgb(245, 245, 245, 0), rgb(245, 245, 245, 0.8));
                }

        /* END of the button bar! */






  /* Start of Task Body */
      #task-list {
        /* border: lime 2px solid; */
        display: flex;
        flex-direction: column;
      }
            /* unComplete Item */
            .incompleteItem {
              /* border: green 2px solid; */
              background-color: rgba(120, 132, 185, 0.3);
              display: flex;
              border-radius: 10px;
              margin-top: 2%;
              margin-left: 10%;
              margin-right: 10%;
              justify-content: space-evenly;
              align-items: center;
            }

            /* complete Item */
            .completeItem {
              /* border: green 2px solid; */
              background-color: rgba(103, 81, 50, 0.3);
              display: flex;
              border-radius: 10px;
              margin-top: 2%;
              margin-left: 10%;
              margin-right: 10%;
              justify-content: space-evenly;
              align-items: center;
            }

                  #p-tags {
                    /* border: blue solid 2px; */
                    flex-grow: 1;
                    margin-left: 5%;
                    /* font-family: halloween; */
                  }
                        p {
                          /* border: darkred 2px solid; */
                          color: green;
                          margin-top: 1%;
                          margin-bottom: 1%;
                        }
                        #title-task {
                          color: rgb(161, 45, 184);
                          text-decoration: underline;
                        }
                        .priorityColor {
                          color: rgb(175, 152, 21);
                        }

                  #complete-btn {
                    border: rgb(0, 0, 0, 0);
                    background-color: rgb(0, 0, 0, 0);
                    color: rgb(53, 205, 53);
                    font-size: 12px;
                    width: 100px;
                    height: 30px;
                    flex-grow: 0;
                    margin-right: 5%;
                    border-radius: 7px;
                  }
                      #complete-btn:hover {
                        background-image: linear-gradient(rgba(3, 50, 3, 0), rgba(5, 142, 5, 0.8));
                        color: whitesmoke;
                      }

                  #delete-btn {
                    border: rgb(0, 0, 0, 0);
                    background-color: rgb(0, 0, 0, 0);
                    color: orangered;
                    font-size: 12px;
                    width: 40px;
                    height: 25px;
                    flex-grow: 0;
                    margin-right: 5%;
                    border-radius: 7px;
                  }
                      #delete-btn:hover {
                        background-image: linear-gradient(rgba(3, 50, 3, 0), rgba(122, 11, 11, 0.8));

                      }

                  

  /* modal stuff */

  
  /* css to hide your form */
  .hideFormWindow {
    display: none;
    position: fixed;
    /* bottom: 0; */
    /* right: 15px; */
    border: 5px solid lightblue;
    /* z-index: 1; */
  }

  /* css to diplay your form as a pop up */
  /* This is the witch-form DIV */
  .revealFormWindow {
    display: flex;
    flex-direction: column;
    position: fixed;
    /* width: 80%;
    height: 10%; */
    /* bottom: 0; */
    top: 5%;
    left: 43%;
    border: 8px solid whitesmoke;
    border-radius: 20px;
    width: 30%;
    /* z-index: 5; */
    background-color: rgb(0, 0, 0, 0);
  }
        #form-heading {
          color: orangered;
          /* border: 2px solid pink; */
          margin-top: -20px;
          margin-bottom: -20px;
          text-align: center;
          font-family: witch-hunt;
          font-size: 1rem;
        }
        #form-entries {
          display: flex;
          /* border: 2px solid greenyellow; */
          /* flex-direction: column; */
          justify-content: center;
        }
              #input-nameTask {
                color: blue;
                /* border: 2px solid black; */
                display: flex;
                justify-content: center;
              }
                    #input-style {
                      border: silver solid 2px;
                      background-color: black;
                      text-align: center;
                      color: whitesmoke;
                      border-radius: 5px;
                    }

              #input-priorityTask {
                /* border: 2px solid black; */
                display: flex;
                justify-content: center;
                margin-top: 10px;
              }
                    #select-style {
                      border: rgb(0, 0, 0, 0);
                      background-color: rgb(0, 0, 0, 0);
                      color: whitesmoke;
                    }

              #post-task {
                /* border: black 2px solid; */
                display: flex;
                justify-content: center;
                margin-top: 10px;
              }
                    #post-style {
                      border: rgb(0, 0, 0, 0);
                      background-color: rgb(0, 0, 0, 0);
                      color: whitesmoke;
                      font-size: 14px;
                      border-radius: 4px;
                    }
                    #post-style:hover {
                      background-image: linear-gradient(rgb(245, 245, 245, 0), rgb(245, 245, 245, 0.8));
                    }

        #disappear-btn {
          /* border: 2px solid lightblue; */
          align-self: flex-end;
        }
              #dButton-style {
                border: rgb(0, 0, 0, 0);
                background-color: rgb(0, 0, 0, 0);
                color: whitesmoke;
                font-size: 14px;
                border-radius: 5px;
              }
              #dButton-style:hover {
                background-image: linear-gradient(rgb(245, 245, 245, 0), rgb(245, 245, 245, 0.8));
              }
  
  
  
  
