

/* IMPORTS */
@font-face {
  font-family: witch-hunt;
  src: url(../../fonts/Witch.ttf);                
  }

@font-face {
  font-family: halloween;
  src: url(../../fonts/HelpMe.ttf);
}



#web-display {
  border: 15px solid lightblue;
  background-image: url(../../Photos/spookyForestTwo.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

      #task-header {
        border: pink 2px solid;
        display: flex;
        flex-direction: row;
        margin-left: 5%;
        margin-right: 5%;
      }
            h1 {
              font-family: witch-hunt;
              color: orangered;
              letter-spacing: 4px;
              font-size: 60px;
              margin-left: 10%;
              margin-top: 0px;
              margin-bottom: 0px;
              border: 2px solid orange;
              flex-grow: 10;
            }
            #header-buttons {
              display: flex;
              flex-direction: column;
              border: 2px solid green;  
              flex-grow: 2;
              justify-content: flex-end;
            }
                  #priority-btn {
                    border: 2px solid orange;
                    /* align-self: center; */
                    /* flex-basis: 1; */
                  }
                  #alphabetical-btn {
                    border: 2px solid orange;
                    /* align-self: center; */
                    /* flex-basis: 1; */
                  }
                  #add-task {
                    border: 2px solid orange;
                    /* align-self: center; */
                    /* flex-basis: 1; */
                  }

      #task-list {
        border: lime 2px solid;
        display: flex;
        flex-direction: column;
      }

            #task-item {
              /* border: green 2px solid; */
              /* background-color: rgba(103, 81, 50, 0.3); */
              background-color: rgba(120, 132, 185, 0.3);
              display: flex;
              border-radius: 10px;
              margin-top: 2%;
              margin-left: 10%;
              margin-right: 10%;
              justify-content: space-evenly;
              align-items: center;
            }

                  #p-tags {
                    /* border: blue solid 2px; */
                    flex-grow: 1;
                    margin-left: 5%;
                    /* font-family: halloween; */
                  }
                        p {
                          /* border: darkred 2px solid; */
                          color: orange;
                          margin-top: 1%;
                          margin-bottom: 1%;
                        }
                        #span-color {
                          color: darkred;
                        }

                  #complete-btn {
                    border: rgb(230, 217, 32) 2px solid;
                    flex-grow: 0;
                  }
                  #delete-btn {
                    border: rgb(198, 107, 17) 2px solid;
                    flex-grow: 0;
                    margin-right: 5%;
                  }

                  

  /* modal stuff */

  .open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  /* css to hide your form */
  .hideWindow {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 1;
  }

  /* css to diplay your form as a pop up */
  .revealWindow {
    display: block;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid yellow;
    z-index: 5;
    background-color: darkcyan;
    
  }
  
  
  
  
  
