
/* 
COLOR PALETTE
  #B725FA (primary purple)
  #8A50A5 (secondary purple)
  #9EBA4A (primary green)
  #C3F926 (highlight green)
  #707A50 (secondary green)

*/



/* IMPORTS */
@font-face {
  font-family: witch-hunt;
  src: url(../../fonts/Witch.ttf);                
  }

@font-face {
  font-family: halloween;
  src: url(../../fonts/Halloween.ttf);
}

@keyframes markComplete {
  from { background-color: #7884b940; }
  to { background-color: #8A50A520; }
}

@keyframes unMark {
  from { background-color: #8A50A520; }
  to { background-color: #7884b940; }

}




#web-display {
  /* border: 15px solid lightblue; */
  background-image: url(../../Photos/spookyForestTwo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;

}
