
#task-list {
    display: flex;
    flex-direction: column;
  }
        /* unComplete Item */
        .incompleteItem {
          background-color: #7884b940;
          display: flex;
          border-radius: 10px;
          margin-top: 2%;
          margin-left: 10%;
          margin-right: 10%;
          justify-content: space-evenly;
          align-items: center;
          animation: unMark 0.5s;

        }

        /* complete Item */
        .completeItem {
          background-color: #8A50A520;
          display: flex;
          border-radius: 10px;
          margin-top: 2%;
          margin-left: 10%;
          margin-right: 10%;
          justify-content: space-evenly;
          align-items: center;
          animation: markComplete 0.5s;

        }

              #p-tags {
                /* border: blue solid 2px; */
                flex-grow: 1;
                margin-left: 5%;
                /* font-family: halloween; */
              }
                    p {
                      /* border: darkred 2px solid; */
                      color: green;
                      margin-top: 1%;
                      margin-bottom: 1%;
                    }
                    #title-task {
                      color: #B725FA;
                      /* text-decoration: underline; */
                    }
                    .lowPriorityColor {
                      color: #707A50;
                    }
                    .highPriorityColor {
                      color: #C3F926;
                    }

              #complete-btn {
                border: rgb(0, 0, 0, 0);
                background-color: rgb(0, 0, 0, 0);
                color: #9EBA4A;
                font-size: 12px;
                width: 100px;
                height: 30px;
                flex-grow: 0;
                margin-right: 5%;
                border-radius: 7px;
                transition: 0.5s;
              }
                  #complete-btn:hover {
                    background-image: linear-gradient(rgba(3, 50, 3, 0), #C3F926);
                    color: #C3F926;
                  }

              #delete-btn {
                border: rgb(0, 0, 0, 0);
                background-color: rgb(0, 0, 0, 0);
                color: #8A50A5;
                font-size: 12px;
                width: 40px;
                height: 25px;
                flex-grow: 0;
                margin-right: 5%;
                border-radius: 7px;
                transition: 0.5s;
              }
                  #delete-btn:hover {
                    background-image: linear-gradient(rgba(3, 50, 3, 0), #B725FA);
                    color: #B725FA;
                  }
