body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* ?? what is the difference b/w app.css and index.css?? */

/* !!! DOM/css ROAD MAP !!!
 Div: web-display
    Div: id=task-header
    Div: id=task-form
    Div: id=task-body 
        h3
        <TaskList>
            DIV: id=task-list
                DIV: id=task-item
                    p title
                    p priority
                    p date
                    button complete
                    button delete
*/

#web-display {
  border: 15px solid black;
}

      #task-header {
        border: pink 2px solid;
        background-color: lightpink;
      }

      #task-form {
        border: lime 2px solid;
        background-color: lightgreen;
      }

      #task-body {
        background-color: lightblue;
        border: 2px solid blue;
      }

            #task-item {
              border: green 2px solid;
            }

                  p {
                    border: darkred 2px solid;
                  }
                  button {
                    border: darkgoldenrod 2px solid;
                  }
